.network-topology-container {
  width: 100%;
  height: calc(100vh - var(--spacing-nav-size));
  position: relative;
  overflow: hidden;
  
  .network-topology-svg {
    display: block;
    width: 100%;
    height: 100%;
    
    .node {
      stroke: #000;
      stroke-width: 1.5px;
      cursor: pointer;
      
      &:hover {
        stroke: #555;
        stroke-width: 2.5px;
      }
    }
    
    .link {
      stroke: #999;
      stroke-width: 1.5px;
      opacity: 0.6;
    }
    
    .labels {
      font-family: "Roboto", sans-serif;
      font-size: 12px;
      pointer-events: none;
      -webkit-user-select: none;
      user-select: none;
    }
  }
} 