

main.content {
  display: block;
  padding-bottom: 120px;

  &.post-like {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    max-width: 1296px;
    padding: 0 48px;
    
  }
}

.page-title-container {
  max-width: 560px;
  margin: 0 auto;
  text-align: center;

  .page-title {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
  }

  .page-description {
    font-size: 16px;
    color: var(--color-text-sec);
    line-height: 1.5;
    margin-top: 16px;
    margin-bottom: 24px;
  }
}