:root {
  --brand-color: #FF4646;
}

@mixin light-theme {
  --color-main: #1a1a1a;
  --color-sec: #858585;
  --color-sec-trans: rgba(0, 0, 0, 0.48);
  --color-neg: #ADADAD;
  --color-neg-trans: rgba(0, 0, 0, 0.32);

  --color-bg-hover-main: rgba(0, 0, 0, 0.04);

  --color-bg-main: white;

  --color-bg-sec: #fafafa;
  --color-bg-sec-trans: rgba(0, 0, 0, 0.02);

  --color-bg-sec-2: #f5f5f5;
  --color-bg-sec-2-trans: rgba(0, 0, 0, 0.04);

  --color-border-main: #ebebeb;
  --color-border-main-trans: rgba(0, 0, 0, 0.08);
}

@mixin dark-theme {
  --color-main: #eaeaea;
  --color-sec: #b3b3b3;
  --color-sec-trans: rgba(255, 255, 255, 0.48);

  --color-neg: #4d4d4d; // 深色模式下的中性色
  --color-neg-trans: rgba(255, 255, 255, 0.32); // 半透明白色，适合深色背景

  --color-bg-hover-main: rgba(255, 255, 255, 0.04);

  --color-bg-main: #121212;

  --color-bg-sec: #1e1e1e;
  --color-bg-sec-trans: rgba(255, 255, 255, 0.02);

  --color-bg-sec-2: #2a2a2a;
  --color-bg-sec-2-trans: rgba(255, 255, 255, 0.04);

  --color-border-main: #333333;
  --color-border-main-trans: rgba(255, 255, 255, 0.08);
}

:root {
  @include light-theme;
}

:root[data-theme="dark"] {
  @include dark-theme;
}

/* Add system theme detection */
@media (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    @include light-theme;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @include dark-theme;
  }
}



html,
body {
  background-color: var(--color-bg-main);
  color: var(--color-main);
}
