:root {
  --color-main: #1a1a1a;
  --color-sec: #858585;
  --color-sec-trans: rgba(0, 0, 0, 0.48);

  --color-bg-main: white;
  --color-bg-sec: #fafafa;
  --color-bg-sec-trans: rgba(0, 0, 0, 0.02);
  --color-bg-sec-2: #f5f5f5;
  --color-bg-sec-2-trans: rgba(0, 0, 0, 0.04);

  --color-border-main: #ebebeb;
  --color-border-main-trans: rgba(0, 0, 0, 0.08);
}

:root[data-theme="dark"] {
  --color-main: #eaeaea;
  --color-sec: #b3b3b3;
  --color-sec-trans: rgba(255, 255, 255, 0.48);

  --color-bg-main: #121212;
  --color-bg-sec: #1e1e1e;
  --color-bg-sec-trans: rgba(255, 255, 255, 0.02);
  --color-bg-sec-2: #2a2a2a;
  --color-bg-sec-2-trans: rgba(255, 255, 255, 0.04);

  --color-border-main: #333333;
  --color-border-main-trans: rgba(255, 255, 255, 0.08);
}

html,
body {
  background-color: var(--color-bg-main);
  color: var(--color-main);
}
