.dropdown {
  .trigger-container {
    position: relative;
    .unread-indicator {
      position: absolute;

      background-color: var(--color-semantic-active);

      pointer-events: none;

      &.number {
        font-size: 11px;
        font-weight: bold;

        border-radius: 100px;
        top: -4px;
        right: -6px;
        padding: 1px 5px;
        color: white;
      }

      &.dot {
        width: 10px;
        height: 10px;
        border-radius: 100px;
        top: -2px;
        right: -2px;
      }
    }
  }

  .dropdown-content {
    position: absolute;
    margin-top: 4px;
    z-index: calc(var(--z-index-nav) + 2);

    &.small {
      width: 200px;
    }

    &.medium {
      width: 300px;
    }

    &.large {
      width: 400px;
    }

    &.left {
      right: 0;
    }
  }

  .bg-btn {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: calc(var(--z-index-nav) + 1);
  }

  .dropdown-content {
    &:not(.open) {
      display: none;
    }
  }

  &::selection {
    background: transparent;
  }
  &::moz-selection {
    background: transparent;
  }
  &::webkit-selection {
    background: transparent;
  }
}
