footer.footer {
  .footer-body {
    margin-top: 80px;
    padding: var(--content-padding);
    background-color: var(--color-bg-sec);
    color: var(--color-neg-trans);
    font-size: 12px;
    line-height: 1.5;
 
    text-align: center;
  }
}