.searchBar {
  --searchbar-hight: 44px;
  --searchbar-font-size: 16px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 8px;
  height: var(--searchbar-hight);
  padding: 0 8px;
  border: 1px solid var(--color-border-main);
  
  font-size: var(--searchbar-font-size);

  &:hover {
    background-color: var(--color-bg-sec);
  }

  .input {
    padding: 8px 0;
    flex: 1;
    outline: none;
    border: none;

    background: none;
    height: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--color-neg);
    }
  }
}
