.side-menu {
  .bg-btn {
    background-color: rgba(black, 0.24);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    z-index: calc(var(--z-index-nav) + 1);

    &:not(.open) {
      display: none;
    }
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: calc(var(--z-index-nav) + 2);
    overflow-y: scroll;
    padding-bottom: 80px;

    width: 320px;
    height: 100vh;
    background-color: var(--color-bg-sec);
    box-shadow: 2px 0 24px rgba(black, 0.24);
    border-right: 1px solid var(--color-border-main);

    transition: 0.2s;
    &:not(.open) {
      transform: translateX(-120%);
    }

    .menu-header {
      height: var(--spacing-nav-size);
      display: flex;
      align-items: center;
      padding: 0 16px;

      .logo {
        width: calc(var(--spacing-nav-item-size) * (14/16));
        height: calc(var(--spacing-nav-item-size) * (14/16));
        margin-right: 8px;
      }

      .text {
        font-size: 14px;
        list-style: 22px;
        font-weight: bold;
      }
    }

    .menu-body {
      .menu-group {
        display: grid;

        .group-title {
          padding: 8px 16px;
          font-size: 12px;
          line-height: 1.5;
          font-weight: bold;
          color: var(--color-neg-trans);
        }

        &:not(:first-of-type) {
          margin-top: 8px;
          padding-top: 8px;
          border-top: 1px solid var(--color-border-main);
        }

        .menu-items {
          padding: 0 8px;

          .menu-item {
            display: block;
            padding: 8px;
            font-size: 14px;
            line-height: 22px;
            border-radius: 4px;
            overflow: hidden;

            .icon {
              font-size: 16px;
              vertical-align: text-bottom;
              color: var(--color-sec);
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}
