.node-link {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.tree-node {
  font-size: 14px;
  margin-left: 1em;

  .node-header {
    cursor: pointer;
    display: grid;
    grid-template-columns: 24px auto;

    line-height: 24px;
  }
}
