.menu {
  position: absolute;
  width: 100%; // 因为这个组件需要父组件设置宽度，所以这里设置100%
  padding: 8px 0;
  border: 1px solid var(--color-border-main);
  background-color: var(--color-bg-sec);

  border-radius: 4px;
  box-shadow: var(--pop-shaodw);

  .group {
    &:not(:first-child) {
      border-top: 1px solid var(--color-border-main);
      padding-top: 8px;
      margin-top: 8px;
    }

    .group-title {
      font-size: 12px;
      line-height: 1;
      font-weight: bold;
      color: var(--color-neg);
    }

    .items {
      display: flex;
      flex-direction: column;
    }

    &.group-spacing-default {
      .group-title {
        padding: 8px 16px;
      }
      .items {
        padding: 0 8px;
      }
    }

    &.group-spacing-compact {
      .group-title {
        padding: 8px 16px;
        padding-bottom: 4px;
      }
      .items {
        padding: 8px 16px;
        gap: 6px;
      }
    }
  }
}
