[class*="collapsed-by-father-"] {
  display: none;
}

.node-to-hide {
  opacity: 0.16;
}

.irrelevant-node {
  opacity: 0.24;
}

.network-topology-container {
  width: 100%;
  height: calc(100vh - var(--spacing-nav-size));
  position: relative;
  overflow: hidden;
  
  .network-topology-svg {
    display: block;
    width: 100%;
    height: 100%;
    
    .node {
      cursor: pointer;
      
      // Hover stroke effect removed
      
      &.child-nodes-collapsed {
        stroke: var(--color-main);  // Bright orange/red stroke
        stroke-width: 1px;  // Thicker stroke width
      }
    }
    
    .link {
      stroke: var(--color-border-darken-trans);
      stroke-width: 1px;
      opacity: 0.6;
    }
    
    .labels {
      font-size: 12px;
      pointer-events: none;
      -webkit-user-select: none;
      user-select: none;

      fill: var(--color-main);
    }
  }
} 