.visibility-btn,
.visibility-inherit-btn {
  display: none;
}

.invisible .visibility-btn {
  display: block;
}

.node:hover {
  .visibility-btn {
    display: block;
  }
  .visibility-inherit-btn {
    display: none;
  }
}

.father-invisible {
  .visibility-btn {
    display: none;
  }

  .visibility-inherit-btn {
    display: block;
  }

  .invisible > .node {
    .visibility-btn {
      display: block;
    }

    .visibility-inherit-btn {
      display: none;
    }
  }
}

.invisible {
  opacity: 0.48;

  .invisible {
    opacity: 1;
  }
}


// 

.tree-node {
  display: block;

  --font-size: 13px;
  --line-height: calc(var(--font-size) * 1.5);
  --v-padding: 8px;
  --h-padding: 8px;
  --node-height: calc(var(--v-padding) * 2 + var(--line-height));

  --level-markder-width: 12px;

  .node {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    cursor: pointer;

    align-items: center;
    font-size: var(--font-size);
    line-height: var(--line-height);
    position: relative;
    height: var(--node-height);
    padding-right: 8px;

    overflow: hidden;
    border-radius: 4px;

    &:hover {
      background-color: var(--color-bg-sec-trans);
    }

    &[class~="active"] {
      background-color: var(--color-bg-sec-2);
    }

    .level-marker {
      height: 100%;
      width: var(--level-markder-width);
      border-right: 1px solid var(--color-border-main-trans);
      flex-shrink: 0; // note: prevent shrinking
    }

    .node-clopener {
      flex-shrink: 0; // note: prevent shrinking
      z-index: 1;
      height: var(--node-height);
      width: calc(var(--level-markder-width) * 2);
      cursor: pointer;
      display: flex;
      align-items: center;
      // margin-right: 4px;
      color: var(--color-sec-trans);

      .node-clopener-icon {
        flex: 0 0 100%;
        font-size: 20px;
        display: block;
        text-align: center;
        margin-right: 4px;

        transition: transform 0.2s;
        &:not(.expanded) {
          transform: rotate(-90deg);
        }
      }
    }

    .node-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .node-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;

        .page-icon {
          margin-right: 4px;
          font-size: calc(var(--font-size) * 1.2);
          vertical-align: text-bottom;
          color: var(--color-sec);
        }
      }

      .node-controls {
        flex-grow: 0;
      }
    }
  }
}

.tree-container {
  overflow-y: scroll;

  padding: 8px;
}
