.tree-explorer-setting {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;

  border-bottom: 1px dashed var(--color-border-main);

  .setting-item-column {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .setting-item {
      flex: 1;
    }

    & > .setting-item:only-child {
      flex: none; /* 如果只有一个 item，则宽度为默认 */
      width: 100%; /* 撑满整个视图 */
    }
  }
}
